@import "reset";

$gridGap: 2px;
$backgroundColor: #191919;
$cellRadius: 10px;

body {
  font-size: 16px;
  height: 100vh;
  background-color: #7D49A9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  height: 90%;
  padding: 20px;
  box-sizing: border-box;
  background-color: $backgroundColor;
  .grid {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    height: 100%;
    gap : $gridGap;
    .grid__col {
      &:first-child {
        background-color: $backgroundColor;
        gap : $gridGap;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: 1.8fr 1fr;
      }
      &:last-child {
        display: grid;
        gap : $gridGap;
        grid-template-rows: 1.8fr 1fr;
      }
    }
    .subgrid {
      display: grid;
      grid-template-columns: 1.2fr 1fr;
        grid-template-rows: 2fr 1.7fr;
    }
    .header {
      background-color: white;
      grid-column: span 2;
      border-radius: $cellRadius;
    }
    .grid__img {
      background-image: url("https://source.unsplash.com/random");
      background-size: cover;
      border-radius: $cellRadius;
    }
    .blog-post {
      padding: 20px;
      background-color: white;
      border-radius: $cellRadius;
    }
  }
}


