doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="style/style.scss")
    title Design agency UI 
  body
    .wrapper
        .grid
            .grid__col
                header.header
                    div.header__top
                        span.s_logo S
                        .header__top__wraper
                            span.header__reviews 4.98
                            span.header__label Best reviews
                    h1.header__title Duh!
                    h3.header__subtitle 
                        span 3d illustrations for 👀 digital designers and agencies! 🏳️‍🌈 For you!
                .grid__img
                .grid__img
            .grid__col
                .subgrid
                    .grid__img
                    nav.nav
                        ul
                            li.nav__item about
                            li.nav__item solutions
                            li.nav__item portfolio
                            li.nav__item blog
                        span.light
                            i(class="fa-solid fa-circle")
                        span.nav__cta hire us
                    .grid__cells
                        grid__cells__wrap
                            .grid__cell
                                .recent_colla__dot 
                                    i(class="fa-solid fa-circle")
                                .recent_colla__text recent collaborations
                            .grid__cell
                                span 
                                    i(class="fa-brands fa-ubuntu")
                                span CBP
                                span.power ²
                        .grid__cell__wrap
                            .more_case more cases
                    .grid__qrCode
                        i(class="fa-solid fa-qrcode")
                .blog-post
                    .blog-post__header
                        .blog-post__cell 01/02
                        .blog-post__cell 
                        .blog-post__cell 
                        .blog-post__cell live prview
                        .blog-post__cell
                            i(class="fa-solid fa-arrow-rotate-left")
                    p Engage more users with stylish and modern 3d illustrations. Great addition to apps, websites, branding, presentations or ay other design project. 

    script(src="https://kit.fontawesome.com/7489903411.js" crossorigin="anonymous")
